body {

    font-family: Verdana;
    margin:0;
    padding:0;
    text-align:center;
    background-color:beige;




}


header {


    width:100%;
    display:flex;
    position: fixed;
    justify-content: space-between;
    align-items:center;
}

#login-logo {

    height:32px;
    margin-left:24px;
    margin-bottom:5px;

}

header h2 {

    text-align: justify;
    
}